@font-face {
    font-family:"KazimirBoldMenu";
    src: url("../fontfamily/Kazimir.otf");
}

@font-face {
    font-family:"KazimirMediumIt";
    src: url("../fontfamily/KazimirMediumItalic.otf");
}


.background{
    background:url("../img/background1.jfif")center fixed ;
    height: 160% ;
    width: 100%
}

.letterForYou{
    width: 48vw;
    left: 14vw;
    top: 18vw;
    position: absolute;
    padding-bottom:8vw
}

.LetterRight{
    background-color:orange;
    width: 30vw;
    height: 16vw;
    z-index: 1;
    position: absolute;
    left: 53vw;
    top:28vw;
    border-radius:1vw;
}

.inLetter{
    display: flex;
    flex-direction: column;
    position:relative
}

.mail{
    display: flex;
    flex-direction: row;
    position:relative;
    font-family:"KazimirBoldMenu";
    top:3vw;
    left:2vw
}

.post{
    display: flex;
    flex-direction: row;
    position:relative;
    font-family:"KazimirBoldMenu";
    top:4vw;
    left:2vw
}

.textMail{
    font-family:"KazimirMediumIt";
    position:relative;
    top:1.4vw;
    left:1.9vw
}
.paraCont1{
    position:relative;
    left:3.2vw
}

.paraCont2{
    position:relative;
    left:2.2vw
}
