#img38{
    width: 40.5vw;
    padding-bottom: 2%;
    border-radius: 3%;
}
#img61{
    width: 13vw;
    margin-right: 2%;
    border-radius: 3%;

}
#img62{
    width: 13vw;
    margin-right: 2%;
    border-radius: 3%;

}
#img63{
    width: 13vw;
    border-radius: 3%;
 
}
#img78{
    width: 40.5vw;
    padding-bottom: 2%;
    border-radius: 3%;
}
#img89{
    width: 13vw;
    margin-right: 2%;
}
#img88{
    width: 13vw;
    margin-right: 2%;
}
#img90{
    width: 13vw;
    margin-right: 2%;
}
#img105{
    width: 40.5vw;
    padding-bottom: 2%;
    border-radius: 3%;
}
.presentationimg{
    width: 22vW;
    border-top-left-radius: 3% ;
    border-top-right-radius: 3% ;
 }




.img3{
    display: flex;
}




.img4{
    display: flex;
}











#img85{
    width: 5vw;
}

#img86{
    width: 5vw;
}

#img87{
    width: 5vw;
}



#img97{
    width: 5vw;
}

#img98{
    width: 5vw;
}

#img96{
    width: 5vw;
}



#img109{
    width: 5vw;
}

#img110{
    width: 5vw;

}

#img111{
    width: 5vw;

}



#img116{
    width: 5vw;

}

#img115{
    width: 5vw;
 
}

#img117{
    width: 5vw;
 
}


#imgtomato{
    width: 2vw;
}

.winternami{
    width: 16vw;
    border-radius:1vw
}   