@font-face {
    font-family:"Kazimir Bold";
    src: url("fontfamily/KazimirLightItalic.otf");
}

body, #page {
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}

body{
    font-family:"Kazimir Bold";
}

.menu{
    width: 100vw;
}

.menuspef{
    text-decoration: none;
    color: black;
}

.menuspef:hover{
    color:orange;
    font-size:2.6vw
}

.menuspefrn{
    color:orange;
    font-size:2.6vw;
    text-decoration: none;
}



.menuul {
    display:flex ;
    flex-direction:row;
    justify-content: space-between;
    background-color: white;
    padding-bottom:1% ;
    padding-top:1%;
    padding-right: 8%;
    list-style-type: none;
    align-items: center;
    text-shadow: 1px 0px 1px;
    margin:0 ;
}
.menuli {
    font-size:2vw;
    text-decoration: none;
}




.header{
    display:flex ;  
    justify-content: space-between;
    flex-direction: column;
}














