@font-face {
    font-family:"Kazimir Bold";
    src: url("fontfamily/KazimirLightItalic.otf");
}

body, #page {
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}

body{
    font-family:"Kazimir Bold";
}

.menu{
    width: 100vw;
}



.menuul {
    display:flex ;
    flex-direction:row;
    justify-content: space-between;
    background-color: white;
    padding-bottom:1% ;
    padding-top:1%;
    padding-right: 8%;
    list-style-type: none;
    align-items: center;
    text-shadow: 1px 0px 1px;
    margin:0 ;
}
.menuli {
    font-size:2vw;
    text-decoration: none;
}




.header{
    display:flex ;  
    justify-content: space-between;
    flex-direction: column;
}













.prestitle{
    margin-bottom: 1vw;
    text-align: center;
    background-color:#cd853f;
    font-size: 2.7vw;
    width: 56vw;
    color: white;
    border-radius: 3%;
    border: 1px solid gray;
    padding-left: 2vw;
    padding-right: 2vw;
}

.bigtxt{
    background-color: white;
    width: 56vw;
    border-radius: 3%;
    border: 1px solid gray;
    overflow:auto;
    font-size: 1vw;
    line-height: 1.8vw;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 0.8vw;
}

.contentt{
    display: flex;
    justify-content: row;
    margin-top: 5vw
}

.secounddcolumn{
    display: flex;
    flex-direction: column;
}

.firstcolumnn{
    margin-left: 14vw;
    margin-right: 4vw;
}

