.prestitle{
    margin-bottom: 1vw;
    text-align: center;
    background-color:#cd853f;
    font-size: 2.7vw;
    width: 56vw;
    color: white;
    border-radius: 1vw;
    border: 1px solid gray;
    padding-left: 2vw;
    padding-right: 2vw;
}

.bigtxt{
    background-color: white;
    width: 56vw;
    border-radius: 3%;
    border: 1px solid gray;
    overflow:auto;
    font-size: 1vw;
    line-height: 1.8vw;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 0.8vw;
}

.background{
    background:url("../img/background1.jfif")center fixed ;
    height: 100% ;
}

.contentt{
    display: flex;
    justify-content: row;
    margin-top: 5vw;
    margin-bottom: 5vw;
}

.secounddcolumn{
    display: flex;
    flex-direction: column;
}

.firstcolumnn{
    margin-left: 14vw;
    margin-right: 4vw;
}

.footer {
    width: 90%;
    height: 126PX;
    background-color: #ffffff;
    border-radius: 1vw;
    margin: 5% auto 5% auto;
}

* {
    box-sizing: border-box;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 15%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }

div.mySlides {
    text-align: center;
    background-color: #222;

}

div.row {
    text-align: center;
    background-color: #222;
    height: 37vh;
}
.pres1 {
    width: 60px
}

img.pres2 {
    width: 60%;
}

.row {
    padding-left: 10%;
}

img.demo.cursor.pres5 {
    padding-top: 4vh;
}

img.demo.cursor.pres6 {
    padding-top: 6vh;
}

img.demo.cursor.pres1 {
    padding-top: 6vh;
}

img.demo.cursor.pres2 {
    padding-top: 3vh;
}