#img38{
    width: 40.5vw;
    padding-bottom: 2%;
    border-radius: 3%;
}
#img61{
    width: 13vw;
    margin-right: 2%;
    border-radius: 3%;

}
#img62{
    width: 13vw;
    margin-right: 2%;
    border-radius: 3%;

}
#img63{
    width: 13vw;
    border-radius: 3%;
 
}
#img78{
    width: 40.5vw;
    padding-bottom: 2%;
    border-radius: 3%;
}
#img89{
    width: 13vw;
    margin-right: 2%;
}
#img88{
    width: 13vw;
    margin-right: 2%;
}
#img90{
    width: 13vw;
    margin-right: 2%;
}
#img105{
    width: 40.5vw;
    padding-bottom: 2%;
    border-radius: 3%;
}
.presentationimg{
    width: 22vW;
    border-top-left-radius: 3% ;
    border-top-right-radius: 3% ;
 }

.redheart{
    list-style-type : none   ;
	/* Ci-dessous je mets en place une image */
    width: 17vw;
    padding-top: 0.7vw;
    text-align: start;  
}
.redheart1{
    list-style-type : none   ;
	/* Ci-dessous je mets en place une image */
    width: 17vw;
    padding-top: 0.4vw;
    text-align: start;
}
.redheart2{
    list-style-type : none   ;
	/* Ci-dessous je mets en place une image */
    width: 17w;
    padding-top: 0.7vw;
    text-align: start;
}

.redheartbis{
    width: 2.6vw;
    height: 2.6vw;
}
.redheartbis2{
    width: 2.6vw;
    height: 2.6vw;
}
.redheartbis3{
    padding-left: 1.5vw;
    width: 2.6vw;
    height: 2.6vw;
}
.contentredheart{
    display: flex;
    flex-direction: row;
    padding-bottom: 0.2vw;
    padding-right: 5vw;
    padding-left: 1.5vw;}
.contentredheart2{
    display: flex;
    flex-direction: row;
    padding-right: 5vw;
}

.blackheart{
    list-style-type : none   ;
	/* Ci-dessous je mets en place une image */
    width: 17w;
    text-align: start;
}
.blackheart2{
    list-style-type : none   ;
	/* Ci-dessous je mets en place une image */
    width: 17w;
    padding-left: 0.41vw;
}

.blackheartbis{
    width: 1.3vw;
    height: 1.3vw;
    padding-right: 0.55vw;
}
.blackheartbis2{
    width: 1.3vw;
    height: 1.3vw;
    padding-right: 0.5vw;
}
.blackheartbis3{
    padding-left: 2.2vw;
    width: 1.3vw;
    height: 1.3vw;
}
.contentblackheart{
    display: flex;
    flex-direction: row;
    padding-bottom: 1vw;
    padding-right: 6vw;
    padding-left: 2.2vw;}
.contentblackheart2{
    display: flex;
    flex-direction: row;
    padding-bottom: 1vw;
    padding-right: 6vw;
}

.img3{
    display: flex;
}

.grpimg2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.img4{
    display: flex;
}

.grpimg1{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.namis_de_nami{
    margin-top:10vw
}

.titlenami{
    margin-bottom: 5%;
    text-align: center;
    background-color:#cd853f;
    font-size: 1.7vw;
    width: 22vw;
    color: white;
    border-radius: 3%;
    border: 1px solid gray;
}
.imggrpnamiami{
    display:flex;
    flex-direction: column;
    background-color: white;
    padding-top: 1.5vw;
    border-radius: 3%;
    border: 1px solid gray;
}

.firstlign{
    display: flex;
    flex-direction: row;
    height: 8vw;
    justify-content: space-evenly;
}


#img85{
    width: 5vw;
}

#img86{
    width: 5vw;
}

#img87{
    width: 5vw;
}

.secundlign{
    display: flex;
    flex-direction: row;
    height: 8vw;
    justify-content: space-evenly;
}

#img97{
    width: 5vw;
}

#img98{
    width: 5vw;
}

#img96{
    width: 5vw;
}

.thirdlign{
    display: flex;
    flex-direction: row;
    height: 8vw;
    justify-content: space-evenly;
}

#img109{
    width: 5vw;
}

#img110{
    width: 5vw;

}

#img111{
    width: 5vw;

}

.fourthlign{
    display: flex;
    flex-direction: row;
    height: 8vw;
    justify-content: space-evenly;
}

#img116{
    width: 5vw;

}

#img115{
    width: 5vw;
 
}

#img117{
    width: 5vw;
 
}

.tomatogrp{
    display: flex;
    justify-content: row;
    padding-left: 0.5vw;
}
#imgtomato{
    width: 2vw;
}

.winternami{
    width: 16vw;
    border-radius:1vw
}   