@font-face {
    font-family:"Kazimir Bold";
    src: url("fontfamily/KazimirLightItalic.otf");
}

body, #page {
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}

body{
    font-family:"Kazimir Bold";
}

.menu{
    width: 100vw;
}

.background{
    background:url("./img/background1.jfif")center fixed ;
    height: 100% ;
}

.menuul {
    display:flex ;
    flex-direction:row;
    justify-content: space-between;
    background-color: white;
    padding-bottom:2% ;
    padding-top:2%;
    padding-right: 5%;
    list-style-type: none;
    align-items: center;
    text-shadow: 1px 0px 1px;
    margin:0 ;
}
.menuli {
    font-size:2vw;
    text-decoration: none;
}
.imgnamiicone{
    height: 10%;
    width: 10%;
    border-radius: 50%;
}

.imgnamigrass{
   width: 100vw;
   justify-content: center;

}

.header{
    display:flex ;  
    justify-content: space-between;
    flex-direction: column;
}

.imagepeluche {
    border-radius: 3%;
    width: 40.5vw;
    border: 1px solid;
}

.textpop{
    background-color: white;
    width: 22vw;
    font-size: 26px;
    text-align: center;
    border-radius: 3%;
    padding-bottom: 1vh;
}
.textpop1{
    padding: 3%;
    font-size: 35px;
    text-align:center;
    font-family:"Kazimir Bold";
    border-radius: 3%;
}
.textpop2{
    display: flex;
    font-size: 34PX;
    flex-direction: column;
    border-radius: 3%;
}
.textpop3{
    display: flex;
    font-size: 34px;
    flex-direction: column;
    border-radius: 3%;
}
.titlepresentation{
    margin-bottom: 5%;
    text-align: center;
    background-color: rgba(71, 32, 32, 0.616);
    font-size: 38px;
    width: 22vw;
    color: white;
    border-radius: 3%;
    border: 1px solid gray;
}

.triplecontent{
    display: flex;
    justify-content: space-evenly;
}

.firstcolumn{
    margin-top: 4%;
    margin-left: 10%;
    margin-right:5%
}
.contain{
    display: flex ;
}
.secondcolumn{
    margin-top: 4%;
    margin-left: 12%;
}

li.blackheart:before{
    font-size:100px; 
    list-style-type : none   ;
}

.pres{
    border-radius: 3%;
    border-bottom:1px solid grey;
    border-right:1px solid grey;
    border-left:1px solid grey;
}


.title{
    font-size: 30px;
    text-align: center;
    padding-top:3%
}
.title1{
    font-size: 45px;
    text-align: center;
}
.dash{
    text-align: center;
}