@font-face {
    font-family:"Kazimir Bold";
    src: url("/fontfamily/Kazimir\ Bold.otf")format("Kazimir Bold");
  }

body, #page {
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}

.menu{
    width: 100vw;
}

.background{
    background:url("./img/background1.jfif")no-repeat center fixed ;
    background-size:cover ;
    height: 100% ;
}

.menuul {
    display:flex ;
    flex-direction:row;
    justify-content: space-between;
    background-color: white;
    padding-bottom:2% ;
    padding-top:2%;
    padding-right: 5%;
    list-style-type: none;
    align-items: center;
    text-shadow: 1px 0px 1px;
    margin:0 ;
}
.menuli {
    font-size:2vw;
    text-decoration: none;
}
.imgnamiicone{
    height: 10%;
    width: 10%;
    border-radius: 50%;
}

.imgnamigrass{
   width: 100vw;
   justify-content: center;
}

.header{
    display:flex;
    justify-content: space-between;
}

.imagepeluche {
    border-radius: 3%;
    width: 20vw;
}

.textpop{
    background-color: white;
    width: 50%;
}
.textpop1{
    font-size:1em ;
    text-align:center
}
.textpop2{
    display: flex;
    font-size:60% ;
    justify-content:column
}
.textpop3{
    display: flex;
    font-size:60% ;
    justify-content:column
}
.titlepresentation{
    margin-bottom:5%;
    text-align:center ;
    background-color: rgba(71, 32, 32, 0.616) ;
    font-size:160% ;
    width: 50%;
    height: 8%;
    border-radius: 11%;
}
.triplecontent{
    display: flex;
    justify-content: column;
    justify-content: space-evenly;
}